<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Creator</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/main.css" rel="stylesheet" >
  </head>
  <body>

      <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
          <a class="navbar-brand" href="../../index.html">Form Creator</a>
          <a class="nav-link" href="../new-document/new-document.html">Documents</a>
          <a class="nav-link" href="../document-list/document-list.html">List</a>
        </div>
      </nav>

      <div class="container" id="main">
        <small>Click on button below to add element you want.</small>
          <div class="row row-buttons">
              
          </div>
          <div class="container form-creator">
            <div class="form-group">
                <label>Form Name:</label>
                <input class="form-control" type="text" name="form-name">
            </div>
          
          </div>
          <div class="d-flex flex-row-reverse form-controls">
          </div>
      </div>

      <footer class="footer bg-light">
        <div class="container">
          <div class="row">
            <span class="text-muted">&copy; Form Creator 2020.</span>        
          </div>
        </div>
      </footer>
      <script src="new-form.ts"></script>
  </body>
</html>
