.navbar .container{
  justify-content: unset;
}

table td .hov:hover {
  color: #f23b26;
}

.table td {
  vertical-align: middle;
}

.table th {
  vertical-align: middle;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: auto;
}

#main {
  padding-top: 50px;
}

.btn:nth-child(0) {
  margin-left: 10px;
}

i {
  padding: 15px;
}

.features-icons {
  border-radius: 20px;
}

.col-lg-4:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
  border-radius: 20px;
}

.col-lg-4 a {
text-decoration: none;
color: unset;
}

.form-creator {
  padding-left: 0;
}

.form-group {
  margin-top: 1rem;
}

.creating-component {
  max-width: 50%;
  margin-left: 0;
  padding-bottom: 15px;
}

h4 {
  padding-top: 0.5rem;
}

.row-buttons {
  margin-left: 0px;
}